.aviation-container {
  /* background-color: red; */
  height: auto; /* increase page size */
}

.aviation-content {
  /* background-color: blue; */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.aviation-content p {
  color: #eeeeee;
  margin: 8px;
  font-weight: 800;
  font-size: 22px;
  letter-spacing: 2px;
  z-index: 1;
}

.color {
  height: 300px;
  width: 300px;
  background: linear-gradient(to bottom, #398dfa 40%, #1a0a74 50%);
  filter: blur(180px);
  border-radius: 100%;
  position: absolute;
  z-index: 0;
}
