.clients-container {
  /* background-color: red; */
  height: auto; /* increase page size */
}

.clients-content {
  /* background-color: blue; */
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-title-container {
  /* background-color: green; */
  height: 100px;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client-card-container {
  /* background-color: purple; */
  width: 88vw;
  padding: 1vw;
  height: auto;
  display: flex;
  gap: 21.5px;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-content h1 {
  font-size: 40px;
  color: #ffffff;
  letter-spacing: 6px;
  z-index: 1;
}

.clients-border {
  background-color: rgb(39, 39, 49);
  height: 2.5px;
  width: 90vw;
  margin-top: -20px;
}

.clients-color {
  height: 600px;
  width: 600px;
  background: linear-gradient(to bottom, #398dfa 40%, #1a0a74 50%);
  filter: blur(300px);
  border-radius: 100%;
  position: absolute;
  z-index: 0;
  top: 45%;
  left: 57%;
  transform: translate(-50%, -50%);
}
