.contactInfo {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    padding-top: 130px;
  }
  
  .jcontact-wrapper {
    display: flex;
    align-items: center;
  }
  
  .jcontact-img {
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    margin-right: 5vh;
  }
  
  .jcontact-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 10vw;
    height: calc(900px - 20vw);
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .jcontact-card h1 {
    font-size: 2vw;
    padding-right: 3vh;
    padding-top: 3vh;
    padding-bottom: 0vh;
  }
  
  .jcontact-card p {
    align-self: flex-end;
    padding-right: 3vh;
    font-style: italic;
    text-align: right;
  }
  
  .jcontact-card .p1 {
    padding-left: 5vh;
    font-style: normal;
  }
  
  .jcontact-card .p2 {
    align-self: flex-start;
    padding-left: 2vh;
    text-align: left;
    padding-bottom: 10vh;
    font-size: 14.5px;
    font-style: normal;
  }
  
  @media screen and (max-width: 1042px) {
    .jcontact-wrapper {
      flex-direction: column;
      align-items: center;
    }
  
    .jcontact-container {
      min-height: 100vh;
    }
  
    .jcontact-card h1 {
      font-size: 25px;
    }
  
    .jcontact-img {
      order: 1;
      width: 60vw;
      height: auto;
      margin-bottom: -30px;
      margin-right: 0;
      z-index: 1;
    }
  
    .jcontact-card {
      order: 2;
      width: 90vw;
      height: calc(750px - 20vw);
    }
  }
  
  @media screen and (min-width: 1900px) {
    .jcontact-card {
      height: 520px;
      width: 800px;
    }
  
    .jcontact-img {
      width: 620px;
      height: 620px;
    }
  
    .jcontact-card p {
      text-align: right;
    }
  
    .jcontact-card h1 {
      font-size: 37px;
    }
  }
  