.ersu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 0vh;
  padding-bottom: 10vh;
  padding-top: 60px;
}

.ersu-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row-reverse;
}

.ersu-img {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  margin-left: 5vh;
}

.ersu-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 42vw;
  height: calc(900px - 20vw);
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
}

.ersu-card h1 {
  font-size: 2vw;
  padding-left: 3vh;
  padding-top: 3vh;
  padding-bottom: 0vh;
}

.ersu-card p {
  align-self: flex-start;
  padding-left: 3.3vh;
  font-style: italic;
}

.ersu-card .p1 {
  padding-left: 3.5vh;
  font-style: normal;
}

.ersu-card .p2 {
  align-self: flex-end;
  padding-left: 2vh;
  text-align: left;
  padding-top: 3vh;
  font-size: 14.5px;
  font-style: normal;
}

@media screen and (max-width: 1042px) {
  .ersu-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .ersu-card h1 {
    font-size: 25px;
  }

  .ersu-img {
    order: 1;
    width: 60vw;
    height: auto;
    margin-bottom: -30px;
    margin-left: 0;
    z-index: 10;
  }

  .ersu-card {
    order: 2;
    width: 90vw;
    height: calc(750px - 20vw);
  }
}

@media screen and (min-width: 1900px) {
  .ersu-card {
    height: 520px;
    width: 800px;
  }

  .ersu-img {
    width: 620px;
    height: 620px;
  }

  .ersu-card h1 {
    font-size: 37px;
  }
}
