.joar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding-top: 130px;
}

.joar-wrapper {
  display: flex;
  align-items: center;
}

.joar-img {
  width: 32vw;
  height: 32vw;
  border-radius: 50%;
  margin-right: 5vh;
}

.joar-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 42vw;
  height: calc(900px - 20vw);
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.joar-card h1 {
  font-size: 2vw;
  padding-right: 3vh;
  padding-top: 3vh;
  padding-bottom: 0vh;
}

.joar-card p {
  align-self: flex-end;
  padding-right: 3vh;
  font-style: italic;
  text-align: right;
}

.joar-card .p1 {
  padding-left: 5vh;
  font-style: normal;
}

.joar-card .p2 {
  align-self: flex-start;
  padding-left: 2vh;
  text-align: left;
  padding-bottom: 10vh;
  font-size: 14.5px;
  font-style: normal;
}

@media screen and (max-width: 1042px) {
  .joar-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .joar-container {
    min-height: 100vh;
  }

  .joar-card h1 {
    font-size: 25px;
  }

  .joar-img {
    order: 1;
    width: 60vw;
    height: auto;
    margin-bottom: -30px;
    margin-right: 0;
    z-index: 10;
  }

  .joar-card {
    order: 2;
    width: 90vw;
    height: calc(750px - 20vw);
  }
}

@media screen and (min-width: 1900px) {
  .joar-card {
    height: 520px;
    width: 800px;
  }

  .joar-img {
    width: 620px;
    height: 620px;
  }

  .joar-card p {
    text-align: right;
  }

  .joar-card h1 {
    font-size: 37px;
  }
}
