.joar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 70vh;
  padding-top: 130px;
}

.joar-wrapper {
  display: flex;
  align-items: center;
}

.joar-img {
  width: 620px;
  height: 620px;
  border-radius: 50%;
  margin-right: 2vw;
}

.joar-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  height: 520px;
  width: 800px;
  background-color: #fff;
  border-radius: 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.joar-card h1 {
  font-size: 37px;
  padding-right: 30px;
  padding-top: 5px;
  padding-bottom: 0vh;
}

.pj {
  align-self: flex-end;
  padding-right: 35px;
  font-style: italic;
}

.joar-card .p1j {
  padding-left: 35px;
  padding-right: 35px;
  font-style: normal;
  text-align: right;
}

.joar-card .p2j {
  align-self: flex-start;
  padding-left: 52px;
  text-align: left;
  margin-top: 65px;
  font-size: 14.5px;
  font-style: normal;
}

@media screen and (max-width: 1170px) {
  .joar-wrapper {
    flex-direction: column;
    align-items: center;
  }

  .joar-container {
    min-height: 100vh;
  }

  .joar-card h1 {
    font-size: 25px;
  }

  .joar-img {
    order: 1;
    width: 60vw;
    height: auto;
    margin-bottom: -30px;
    margin-right: 0;
    z-index: 1;
  }

  .joar-card .p1j {
    padding-left: 20px;
    font-style: normal;
    text-align: right;
  }

  .joar-card {
    order: 2;
    width: 90vw;
    height: calc(750px - 20vw);
  }
}

@media screen and (max-width: 1470px) {
  .joar-img {
    width: 330px;
    height: 330px;
  }
}
