body {
  font-family: Arial, sans-serif;
  background-color: #2a2a2a;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: transparent;
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

.left-section,
.center-section,
.right-section {
  display: flex;
  align-items: center;
}

.center-section img {
  width: 150px; /* Set your desired width */
  height: auto; /* This will maintain the aspect ratio */
  display: block; /* Optional: for centering the image */
  margin: 0 auto; /* Optional: for centering the image */
}


.center-selection button:hover {
  background: none !important;
  color: transparent !important;
}

.left-section span,
.right-section span {
  margin: 0 15px;
  cursor: pointer;
  transition: color 0.3s;
}

.left-section span:hover,
.right-section span:hover {
  color: #ddd;
}

.navbutton {
  font-size: 18px;
  color: #e1e1e1;
  font-family: inherit;
  font-weight: 800;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.navbutton:focus,
.navbutton:hover {
  color: #fff;
}

.navbutton:focus:after,
.navbutton:hover:after {
  width: 74%;
  left: 13%;
}

.navbutton:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #fff;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

/* Existing CSS for Navbar.css */

/* ... Your existing CSS rules ... */

/* Media queries for mobile devices */
@media screen and (max-width: 768px) {

  .navbar {
    padding: 10px 20px; /* Less padding */
    flex-wrap: wrap; /* Allow navbar items to wrap */
  }

  .left-section,
  .center-section,
  .right-section {
    flex: 1 100%; /* Take full width on small screens */
    justify-content: center; /* Center content */
    padding: 5px 0; /* Adjust padding */
  }

  .center-section {
    font-size: 24px !important; /* Smaller font size for mobile */
  }

  .left-section span,
  .right-section span {
    margin: 0 10px; /* Less margin */
  }

  .navbutton {
    font-size: 16px; /* Smaller font size */
    padding: 5px 10px; /* Adjust padding */
  }

  /* Responsive adjustments for the navbar button hover effect */
  .navbutton:after {
    height: 1px; /* Thinner line for smaller screens */
  }

  /* Adjustments for any additional navbar elements as needed */
}
