.Testamonials-container {
  background-color: red;
  height: 100vh; /* increase page size */
}

.Testamonials-content {
  background-color: blue;
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
