body,
html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-family: Arial, sans-serif;
  background-color: #2a2a2a;
}

.App-header {
  position: relative;
}

.App-header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.container {
  position: relative;
  height: 100vh;
}

.background-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -2;
}

.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 0;
}

.hero-title {
  position: absolute;
  top: 39%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 3rem;
  font-family: inherit !important;
  text-align: center;
}

.hero-title,
.about-button {
  z-index: 2;
}

.box {
  width: 140px;
  height: auto;
  float: left;
  transition: 0.5s linear;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 15px;
  text-align: center;
  margin: 0 5px;
  background: transparent;
  text-transform: uppercase;
  font-weight: 900;
}

.box:before {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  height: 4px;
  width: 100%;
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(100%);
}

.box:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  border-top: 4px solid transparent;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  transform: translateX(-100%);
}

.box:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

.box:hover:before {
  border-color: #dddddd;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.3s;
}

.box:hover:after {
  border-color: #dddddd;
  height: 100%;
  transform: translateX(0);
  transition: 0.3s transform linear, 0.3s height linear 0.5s;
}

.about-button {
  position: absolute !important;
  left: 45%;
  top: 50%;
  font-size: 16px !important;
  color: rgb(255, 255, 255) !important;
  text-decoration: none !important;
  cursor: pointer !important;
  outline: none !important;
  border: none !important;
  background: transparent !important;
  margin-top: 5vh !important;
}

@media screen and (max-width: 768px) {

  .App-header {
    /* Adjust flex direction or padding as needed for mobile */
  }

  .container {
    /* Adjustments for mobile, if necessary */
  }

  .background-video {
    /* Adjustments for mobile, if necessary */
  }

  .video-overlay {
    /* Adjustments for mobile, if necessary */
  }

  .hero-title {
    font-size: 2rem; /* Smaller font size for mobile */
    padding: 0 20px; /* Add padding for text not to touch the edges */
  }

  .box {
    width: 100px; /* Smaller boxes */
    margin: 0 2px; /* Less margin */
  }

  .about-button {
    left: 50%; /* Center align the button */
    transform: translateX(-50%); /* Ensure it's perfectly centered */
    /* Adjust top position if necessary */
  }
  /* Add more mobile-specific styles as needed */
}
